@model IEnumerable<DTB.Wedding.BL.Models.Guest>

@{
    ViewData["Title"] = "RSVP for members on this invitation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm("Index", "RSVPGuest"))
{
    <table class="table">
        <thead>
            <tr>

                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="color: #0f3015;">

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("RSVP as this guest", "Index", "RSVPGuest", new { id = item.Id }, htmlAttributes: new { @class="green-text"})
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
}
