@model IEnumerable<DTB.Wedding.BL.Models.Guest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>



@using (Html.BeginForm("Index", "RSVPGuest"))
{
    <table class="table">
        <thead>
            <tr>

                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("RSVP as this guest", "Index", "RSVPGuest", new { id = item.Id }, null)
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
}
