
<h1><a href="https://www.neidhammer.com/" target="_blank" rel="noreferrer">The Neidhammer</a></h1>

<h2>Location</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d49066.29191066897!2d-86.1294599!3d39.7701177!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x747e643866c874d8!2sNeidhammer%20Weddings%20%26%20Events!5e0!3m2!1sen!2sus!4v1626825493705!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

<hr />
<h3>Venue Information</h3>
<p>The Niedhammer</p>

<hr />
<h3>Venue Rules:</h3>
<h5>1) No smoking inside the building</h5>
<h5>2) No alcohol outside of what they supply in the building</h5>
<h5>3) No fireworks or open flames in the building</h5>

<hr />