@{
    ViewData["Title"] = "Welcome! ";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="container-fluid">
    <div class="row " style="margin-bottom: 5%;">
        <div class="col-sm-5">
            <a href="https://danaudreywedding.azurewebsites.net/CodeEntry" class="home-btn">RSVP</a>
        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-5">
            <a href="https://danaudreywedding.azurewebsites.net/AboutWedding" class="home-btn">Wedding</a>
        </div>
    </div>
    <hr />
    <div class="row " style="margin-bottom: 5%;">
        <div class="col-sm-5">
            <a href="https://danaudreywedding.azurewebsites.net/Venue" class="home-btn">Venue</a>
        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-5">
            <a href="https://danaudreywedding.azurewebsites.net/AboutUs" class="home-btn">Us</a>
        </div>
    </div>
    <hr />
    <div class="row " style="margin-bottom: 5%;">
        <div class="col-sm-5">
            <a href="https://danaudreywedding.azurewebsites.net/Gallery" class="home-btn">Gallery</a>
        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-5">
            <a href="https://danaudreywedding.azurewebsites.net/Registry" class="home-btn">Registry</a>
        </div>
    </div>
</div>
