@model IEnumerable<DTB.Wedding.BL.Models.Guest>

@{
    ViewData["Title"] = "RSVP Code Entry";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center">
    <h1 class="display-4">Family Code Entry</h1>
    <p>Please enter your family code. Reminder: code is case sensitive and has no spaces.</p>
    <p>Warning: Initial connection may take a few seconds, please be patient.</p>

    @using (Html.BeginForm("Index", "RSVPForm"))
    {
        <input type="text" id="txtFamilyCode" name="txtFamilyCode" />
        <input type="submit" value="Submit Code">
    }
</div>